[submodule "black"]
	path = vim/.vim/pack/plugin/opt/black
	url = https://github.com/psf/black
[submodule "jedi-vim"]
	path = vim/.vim/pack/plugin/opt/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "vim-test"]
	path = vim/.vim/pack/plugin/opt/vim-test
	url = https://github.com/vim-test/vim-test
[submodule "vim-pydocstring"]
	path = vim/.vim/pack/plugin/opt/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring
