[submodule "vim-test"]
	path = vim/.vim/pack/plugin/opt/vim-test
	url = https://github.com/vim-test/vim-test
[submodule "ale"]
	path = vim/.vim/pack/plugin/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "fzf"]
	path = vim/.vim/pack/plugin/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim-table-mode"]
	path = vim/.vim/pack/plugin/opt/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "fzf-vim"]
	path = vim/.vim/pack/plugin/opt/fzf-vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "copilot"]
	path = vim/.vim/pack/plugin/opt/copilot
	url = https://github.com/github/copilot.vim.git
